.deliver {
    margin: 0 0 120px;
    &__wrapper {
        background-image: url("../../images/dr-bg.png");
        background-size: cover;
        background-position: center;
        padding: 80px 60px;
        border-radius: 15px;
    }
    &__title {
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; 
        margin: 0 0 25px;
        span {
            color: var(--secondary-color);
        }
    }

    &__up {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 0 55px;
        &-left {
            width: 640px;
            max-width: 100%;
        }
    }
    &__subtitle {
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; 
        span {
            color: var(--secondary-color);
        } 
    }
    &__text {
        width: 212px;
        max-width: 100%;
        text-align: end;
    }


    &__down {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-wrap: wrap;
        &-item {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 0 0 32px;
        }
        &-text {
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; 
            max-width: 387px;
            // max-width: 100%;
        }


        &-btn {
            display: flex;
            align-items: center;
            gap: 20px;
            height: fit-content;
        }
    }

}


@include media-mx(790) {
    .deliver {
        &__title {
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%; 
        }
        &__subtitle {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;  
        }
        &__text {
            display: none;

        }
        &__text-mb {
            display: block;
            text-align: start;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; 
            margin: 43px 0 35px;
            max-width: 180px;
        }
    }
}

@include media-mx(490) {
    .deliver {
        margin: 0 0 60px;
        &__wrapper {
            background-image: url("../../images/deliver-mb.png");
            background-size: cover;
            background-position: center;
            padding: 80px 60px;
            border-radius: 15px;
            background-color: #F1F1F1;
        }
    }
    .deliver__up {
        margin: 0 0 30px;
    }
    .deliver__wrapper {
        padding: 30px 25px 40px;
    }
    .deliver__down {
        &-text {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; 
        }
        &-btn {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; 
        }
    }
} 