.filter {
    &__wrapper {
        display: flex;
        gap: 40px;
    }
    &__products {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__product {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        background-color: #181818;
        padding: 30px;
        border-radius: 10px;
        width: 100%;
        &-name {
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; 
            color: #fff;
        }
        &-get {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%; 
            text-decoration-line: underline;
            color: #808080; 
        }
        &-text {
            display: flex;
            flex-direction: column;
            gap: 17px;
        }
        &-btn {
            padding: 20px 30px;
            background-color: #181818;
            border: 1px solid #FB7A32;
            border-radius: 100px;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; 
            color: #fff;
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
}

.filter__filter {
    width: 360px;
    max-width: 100%;
    padding: 30px;
    background-color: #F1F1F1;
    border-radius: 15px;
}
.filter__accordion {
}
.filter__item {
    background: none;
    border: none;
}
.filter__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter__button {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    color: #808080;
    background: none;
    text-align: left;
}
.filter__button.active {
    color: #FB7A32;
}

.accordion__header::after {
    background-image: url('../../images/accordion-arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 8px;
    height: 4px;
}
.accordion__item.open .accordion__header {
    background: none;
    color: #181818;
    // padding: 0;
}
.accordion__item.open .accordion__content {
    padding: 15px 0 20px;
}
.filter__header {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: #181818;
    padding: 15px 0;
}
.filter__mobile {
    display: none;
    background-color: #F1F1F1;
    justify-content: space-between;
    width: 100%;
    padding: 16px 30px;
    border-radius: 100px;
    &-text {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; 
    }
}
@include media-mx(600) {
    .filter__filter {
        display: none;
    }
    .filter__mobile {
        display: flex;
    }
    .filter__wrapper {
        flex-wrap: wrap;
    }
    .filter__filter-mobile {
        display: block;
    }

}