.header {
  width: 100%;
  transition: background-color var(--bs-transition);
  z-index: 50;
  padding: 30px 0;
  .header-is-sticky & {
    // ..стили для липкого хедера
    position: fixed;
    background-color: #fff;
    padding: 30px 0 90px;
    .header__menu {
      position: relative;
      margin: 30px 0 0;
    }
    .menu__link {
      color: #000;
    }
  }

  // .header__container
  &__container {
    // height: rem($headerHeight);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    .header-is-sticky & {
      height: rem($headerHeight - 50);
    }
  }
}

.icon-menu {
  display: none;

  @include media-mx(940) {
    display: block;
    position: relative;
    width: rem(45);
    height: rem(45);
    cursor: pointer;
    z-index: 5;
    background-color: #181818;
    border-radius: 100%;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 15px;
      height: rem(2);
      background-color: #fff;
      border-radius: 2px;
    }

    &::before {
      top: 16px;
    }

    &::after {
      bottom: 16px;
    }

    span {
      width: 10px;
      left: 25px;
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      left: 15px;

      }

      &::after {
      left: 15px;

        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}


.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  &-about {
    font-size: 14px;
    font-style: normal;
    line-height: 125%; 
    font-weight: 500;
    span {
      color: #808080;
    }
    p {
    }
  }

  &-download {
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid var(--secondary-color);
    border-radius: 100px;
    padding: 20px 40px;
    gap: 10px;
  }
  &-search {
    display: flex;
    align-items: center;
    padding: 20px 54px 20px 20px;
    gap: 10px;
    border: 1px solid var(--gray-color);
    border-radius: 100px;
    input {
      background: none;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      width: 119px;
      max-width: 100%;
    }
  }

  &-tel {
    color: var(--primary-color);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
  }

  &-cart {
    z-index: 1;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: block;
    background-image: url('../../images/cart.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -5px;
      top: -5px;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      background-color: var(--secondary-color);
      font-size: 10px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; 
      color: #fff;
    }
  }
}


.header__menu {
  width: 100%;
  position: absolute;
  margin: 130px 0 0;
  padding: 0 15px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__link {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
}

.header__main-about__mb {
  display: none;
}

.header.header-main {
  border-bottom: 1px solid #E0E0E0;
  margin: 0 0 140px;

  .menu__link {
    color: var(--primary-color);

      fill {
        color: red;
    }
  }
}



.sub-menu__list {
  display: none;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 8px 17px 0px rgba(0, 0, 0, 0.10), 0px 30px 30px 0px rgba(0, 0, 0, 0.09), 0px 69px 41px 0px rgba(0, 0, 0, 0.05), 0px 122px 49px 0px rgba(0, 0, 0, 0.01), 0px 191px 53px 0px rgba(0, 0, 0, 0.00); 
  width: 320px;
  position: absolute;
  padding: 10px 0;
}
.sub-menu__item {
  position: relative;
  background-color: #fff;
  padding: 20px 15px;
  &:first-child {
    border-radius: 10px 10px 0 0;
  }
  &:last-child {
    border-radius: 0 0 10px 10px;
  }
  &:hover {
    background-color: #F1F1F1;
  }
  &:first-child:hover {
    border-radius: 10px 10px 0 0;
  }
  &:last-child:hover {
    border-radius: 0 0 10px 10px;
  }
}
.sub-menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}


.header__logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
}
.header__cart-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu__item:hover {
  .sub-menu__list {
    display: block;
  }
}

.menu__list-mb {
  display: none;
}

.header__mb {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  transform: translateY(-100%);
  background-color: #181818;
  z-index: 2;
  transition: all .2s ease;
  @include media-mn(940) {
    transform: translateY(-100%);
  }
  &-wrapper {
    margin: 200px auto 0;
    @include media-mx(460) {
      max-width: 360px;
    }
  }

  &-phones {
    a {
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 125%;
      color: #fff; 
    }
    p {
      color: #808080;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      &:first-child {
        margin: 0 0 5px;
      }
      &:last-child {
        margin: 10px 0 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; 
      }
    }
  }
  &-list__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
  }
  &-nav {
    margin: 30px 0 30px;
    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 135%;
      color: #fff;
      margin: 0 0 15px;
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  &-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; 
    color: #808080;
  }
}
.header__mb {
  &-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &-mail {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
      color: #808080;
    }
    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 135%;
      color: #fff;
    }

  }
  &-politic {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; 
    a {
      display: block;
      text-decoration-line: underline;
      color: #fff;
      margin: 30px 0 15px;
    } 
  }
  &-social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0 0;
  }
}

html.menu-open .header__mb {
  display: flex;
  transform: translateY(0);
  transition: all .4s ease;
  z-index: 1;
}
.header__logo-mb {
  display: none;
}
html.menu-open  .header__logo {
    display: none;
}
html.menu-open  .header__logo-mb {
  display: block;
}
html.menu-open  .header__main-cart {
  background-image: url('../../images/cart-mb-white.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

html.menu-open .icon-menu {
    background-color: #fff;
    span,
    &::before,
    &::after {
      background-color: #181818;

    }
}
html.menu-open .menu__list-btn__mb {
  display: none;
}
html.menu-open .header__main-search__mb {
  border: 1px solid #E0E0E0; 
  z-index: 1;
  input {
    color: #9D9D9C;
  }
}

html.menu-open .header {
  background-color: #181818;
} 

@include media-mx(1130) {
  .header__main-about {
    display: none;
  } 
  .header__main-about__mb {
   display: block;
  }
  .header__main-about {
    display: none;
  } 
  .header__main-about__mb {
   display: block;
  }
}
@include media-mx(1080) {
}


@include media-mx(940) {
  .header__main-search, .header__main-download, .header__main-tel  {
    display: none;
  }
  .menu__list {
    display: none;
  }
  .menu__list-mb {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .header__main-search__mb {
    display: flex;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; 
    padding: 20px;
    height: 50px;
  }
  .hero {
    margin: 100px 0 100px;
  }
  .header__menu {
    margin: 80px 0 0;
  }
  .menu__list-btn__mb {
    padding: 20px;
    height: 50px;
  }
  .header__main-cart {
    background-image: url('../../images/cart-mb.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
  }
}

