.hero {
    background-image: url("../../images/hero-bg.png");
    background-position: center;
    background-size: cover;
    padding: 180px 0 100px;
    margin: 0 0 100px;
    &__title {
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 115%; 
        color: var(--white-color);
        span {
            color: var(--secondary-color);
        }
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 50px 0 75px;
        background-color: var(--secondary-color);
        color: var(--white-color);
        padding: 30px 40px;
        border-radius: 100px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
    }
}


.hero__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.hero__item {
    width: 270px;
    max-width: 100%;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    padding: 25px 20px;
    &-title {
        color: var(--white-color);
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
        margin: 0 0 12px;
    }
    &-subtitle {
        color: #BEBEBE; 
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; 
    }
}

.part {
    margin: 0 auto 119px;
    &__wrapper {
        position: relative;
        // overflow: hidden;
    }
    &__items {
        display: flex;
        height: 100%;
    }
    &__item {
        display: flex;
        margin: 40px auto 0;
        display: flex;
        flex-shrink: 0;
    }
    &__title {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%;
    }
}


@include media-mx(940) {
    .hero {
      margin: 100px 0 100px;
      padding: 50px 0 50px;
      &__title {
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; 
      }
      &__price {
        margin: 30px 0 40px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; 
      }
      &__item {
        width: 145px;
        padding: 12px 15px;
        &-title {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%;
            margin: 0 0 5px;
        }
        &-subtitle {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
        }
      }
    }
}
  

