.product {
    &__wrapper {
        display: flex;
        // flex-wrap: wrap;
        gap: 40px;
    }
    &__name {
        font-size: clamp(22px, 5vw, 30px);
        font-weight: 600;
        line-height: 125%; 
        margin: 0 0 20px;
    }
    &__characteristics {
        &-wrapper {
            margin: 0 0 20px;
        }
        &-item {
            display: flex;
            gap: 5px;
        }
        &-title{ 
            font-size: clamp(20px, 5vw, 18px);
            font-style: normal;
            font-weight: 500;
            line-height: 125%; 
            margin: 0 0 15px;
        }
        &-name {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%; 
            color: #808080;
        }
        &-data {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%; 
            color: #181818;
        }
        &-prices {
            margin: 0 0 35px;
        }
    }
}

.product__image-slide {
    width: 560px;
    max-width: 100%;
    flex-shrink: 0; 
    img {
        object-fit: cover;
        border-radius: 15px;
        height: 365px;
    }
}
.price-name{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; 
}
.product-price {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; 
}

.product__btns {
    display: flex;
    gap: 30px;
}
.product__quantity {
    display: inline-flex;
    padding: 31px 25px;
    justify-content: center;
    align-items: center;
    gap: 15px; 
    border-radius: 10px;
    border: 1px solid  #808080; 
}

.product__images {
    overflow: hidden;
}
.product__image {
    display: flex;
    width: 100%;
    height: 100%;
    width: 560px;
}
.tabs {
    margin: 0 auto 120px;
}
.tabs__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.tabs__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tabs__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #F1F1F1;
    color: #808080;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; 
    padding: 38px 0;
    width: 380px;
    max-width: 100%;
    cursor: pointer;
}
.tabs__trigger.active {
    background-color: #181818;
    color: #fff;
    max-width: 100%;
}
.tabs__panel {
    display: none;
    padding: 50px;
    background-color: #F1F1F1;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    border-radius: 10px; 
}
.tabs__content {
    margin: 30px 0 0;
}



.similar {
    margin: 0 auto 120px;
    &__title {
        font-size: clamp(28px, 5vw, 44px);
        font-weight: 600;
        line-height: 125%;
        margin: 0 0 50px;
    }
    &__products {
        display: flex;

    }
    &__product {
        width: 378px;
        max-width: 100%;
        flex-shrink: 0;
        &-text {
            padding: 30px 25px 40px;
            border-radius: 0 0 15px 15px;
            background-color: #F1F1F1;
        }
        &-name {
            font-size: 22px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; 
            margin: 0 0 20px;
        }
        &-prices {
            display: flex;
            gap: 5px;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%;
            margin: 0 0 30px;
        }
        &-price_name {
            color: #808080;
        }
    }
    &__characteristics {
        &-title {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%;
            margin: 0 0 10px; 
        }
        &-items {
            margin: 0 0 25px;
        }
        &-item {
            display: flex;
            gap: 5px;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 145%; 
        }
        &-name {
            color: #808080;
        }
    }
    &__img {
        img {
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }
}



.similar-btn {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}
.similar__products {
    overflow: hidden;
}
.similar__products-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}


.photo {
    margin: 0 auto 120px;

}
.photo__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.photo__slide {
    width: 380px;
    img {
        border-radius: 15px;
        object-fit: cover;
    }
    &:nth-child(4) {
        width: 700px;
        img {
            width: 700px;
            height: 250px;
        }
    }
    &:nth-child(5) {
        img {
            width: 450px;
            height: 250px;
        }
        width: 450px;
    }
}

@include media-mx(860) {
    .product__wrapper {
        flex-wrap: wrap;
    }
    .product__image {
        width: 100%;
    }
    .product__image-slide {
        img {
            object-fit: cover;
            max-height: 365px;
        }
    }
}
@include media-mx(600) {
    
    .photo__wrapper {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
    }
    .photo__slide {
        width: 300px;
        flex-shrink: 0;
    }
}

@include media-mx(460) {
    .product__image-slide {
        img {
            object-fit: cover;
            max-height: 300px;
        }
    }
    #product__quantity {
        display: none;
    }
    #tabs-example_2, #tabs-example_3 {
        display: none;
    }
    .tabs {
        margin: 0 auto 60px;
    }
    .similar {
        margin: 0 auto 60px;
    }
    .similar__products {
        overflow: visible;
    }
    .similar__product {
        width: 300px;
        &-text {
            padding: 25px 25px 40px;
        }
        &-price_name {
            display: none;
        }
    }
    .price-name {
        display: none;
    }
    .similar__title {
        margin: 0 0 25px;
    }
    .similar-btn {
        font-size: 18px;
    }
    .tabs__panel {
        padding: 30px 25px;
    }
    .photo {
        margin: 0 0 60px;
    }
}